* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.5em;
    line-height: 1.6;
    font-weight: 400;
    font-family: Dosis, Raleway, HelveticaNeue, "Helvetica Neue", Helvetica, Arial,sans-serif;
    color: #222;
}

.Title{
  font-size: 38px;
  margin-top: 15px;
  border-bottom: 1px solid rgb(216, 216, 216);
}
